<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User List</h3>
    </div>
    <div class="panel-body">

        <div class="col-md-12">
            <div class="row">

                
                <button class="btn btn-default" type="button" ng-click="gotoFormAdd()">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>

            </div>

            <div class="row">

                

            </div>
        </div>

    </div>
    <table ng-table="tableParams" show-filter="true" class="table">
        <tbody>
          <tr ng-repeat="tour in $data">
            <td data-title="'Name'" filter="{ 'name': 'text' }" sortable="name">
                {{tour.name}}
            </td>
            <td data-title="'Year'" filter="{ 'year': 'text' }" sortable="year">
                {{tour.year}}
            </td>
            <td data-title="'Description'" filter="{ 'description': 'text' }" sortable="description">
                {{tour.description}}
            </td>
            <td data-title="'Url'" filter="{ 'url': 'text' }" sortable="url">
                {{tour.url}}
            </td>
            <td>

                <button class="btn btn-default btn-xs" type="button" ng-click="view(tour.id)">
                    <span class="glyphicon glyphicon-search"></span> View
                </button>

                <button class="btn btn-default btn-xs" type="button" ng-click="edit(tour.id)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>

                <button class="btn btn-default btn-xs" type="button" ng-click="editGroup(tour.id)">
                    <span class="glyphicon glyphicon-pencil"></span> Tour Group
                </button>

                <button class="btn btn-default btn-xs" type="button" ng-click="delete(tour)">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>

            </td>
          </tr>
        </tbody>
    </table>
</div>


<div id="modalDelete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete <strong>{{deleteObj.name}}</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" ng-click="deleteConfirm()">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->